# ==========================
# 1. 全局/IDE (必须忽略)
# ==========================
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store

# ==========================
# 2. 前端 (Vue/Node)
# ==========================
frontend/node_modules/
frontend/dist/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.env.local
frontend/.env.*.local

# ==========================
# 3. 后端 (Python/FastAPI)
# ==========================
__pycache__/
*.py[cod]
*$py.class
*.so


.venv/
.venv_new/
venv/
env/
backend/cube_results/
backend/images/*.png

# 环境变量
.env

# ==========================
# 4. YOLO / AI 训练数据 (最重要！防止仓库爆炸)
# ==========================
# 忽略数据集 (图片和标签)
yolo_train/datasets/
yolo_train/raw_images/

# 忽略训练过程产生的日志和权重 (runs 文件夹通常很大)
yolo_train/runs/


# 忽略大型模型文件 (除了我们明确要用的)
*.pt
*.onnx
!backend/models/best.pt

/project_context.md
/Project_Dev_Context.md
/.opencode/skills/cube-master/SKILL.md

/runs/detect/

/twophase/co_classidx
/twophase/co_rep
/twophase/co_sym
/twophase/conj_twist
/twophase/conj_ud_edges
/AGENTS.md
/Export-GitLogs.ps1
/twophase/fs_classidx
/twophase/fs_rep
/twophase/fs_sym
/twophase/move_corners
/twophase/move_d_edges
/twophase/move_flip
/twophase/move_slice_sorted
/twophase/move_twist
/twophase/move_u_edges
/twophase/move_ud_edges

/scripts/Export-GitLogs.ps1
/scripts/project_context.md
/scripts/Project_Dev_Context.md
